SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

NAME=
USER=
PASSWORD=
HOST=
PORT=

# Email (для уведомлений)
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
LOCATION=
EMAIL_HOST=
EMAIL_PORT=

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_API_KEY=

# Redis
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Домены
YOUR_DOMAIN=